* {
	box-sizing: border-box;
}

body{
	font-family: Helvetica;
	// background-image:url('/Users/shannonmcnellis/TIY/assignments/assignment-26/src-client/backgroundphotoportfolio.jpeg');
}

img {
	width: 100%;
	display: block;
}

h1{
	text-align: center;
	font-size: 10vw;
	color: #2574A9;
}
